<div class="datatable-question">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Câu hỏi của tôi</th>
        <th class="actions-column"></th>
      </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < questions.length; i++) { %>
      <tr data-question="<%= questions[i]['_id'] %>">
        <td>
        	<h5><%= questions[i]['question'] %></h5>
					<ul class="headline-info">
						<li>loại <span class="text-semibold text-success"><%= questions[i]['form'] %></span></li>
						<li>tạo bởi <span class="text-semibold text-success"><%= questions[i]['creator'] %></span></li>
					</ul>
        </td>
        <td class="text-center">
          <div class="btn-group">
		        <button type="button" class="btn btn-icon btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-cog4"></i></button>
						<ul class="dropdown-menu icons-right dropdown-menu-right" data-question="<%= questions[i]['_id'] %>">
							<li><a href="#" data-action="">Gửi lên Ngân hàng</a></li>
							<li class="divider"></li>
							<li><a href="#" data-action="delete-question">Xóa</a></li>
						</ul>
		      </div>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>

  <script>
  $(document).ready(function() {
  	$('.datatable-question table').dataTable({
	    columnDefs: [{ 
	      orderable: false,
	      targets: [0,1]
	    }],
	  })
	})
  </script>
</div>
<% for(var i = 0; i < questions.length; i++) { %>
	<!-- <div data-question="<%= questions[i]['_id'] %>">
		<div class="pull-right">
			<div class="btn-group">
        <button type="button" class="btn btn-icon btn-success dropdown-toggle" data-toggle="dropdown"><i class="icon-cog4"></i></button>
				<ul class="dropdown-menu icons-right dropdown-menu-right" data-question="<%= questions[i]['_id'] %>">
					<li><a href="#" data-action="">Gửi lên Ngân hàng</a></li>
					<li class="divider"></li>
					<li><a href="#" data-action="delete-question">Xóa</a></li>
				</ul>
      </div>
		</div>			
		<h5><%= questions[i]['question'] %></h5>
		<ul class="headline-info">
			<li>loại <span class="text-semibold text-success"><%= questions[i]['form'] %></span></li>
			<li>tạo bởi <span class="text-semibold text-success"><%= questions[i]['creator'] %></span></li>
		</ul>
	</div> -->
<% } %>

	