<div class="page-header">
	<div class="page-title">
		<h3>Danh sách nhóm <small>Thành viên tối đa mỗi nhóm là 500,000 người</small></h3>
	</div>

	<div class="visible-xs header-element-toggle">
		<a class="btn btn-primary btn-icon" data-toggle="collapse" data-target="#header-buttons"><i class="icon-insert-template"></i></a>
	</div>

	<div class="header-buttons">
		<div class="collapse" id="header-buttons">
			<div class="well">
        <button type="button" data-action="name-group" class="btn btn-success">+ Tạo mới</button>
      </div>
    </div>
	</div>
</div>
<ul class="statistics">
	<% for(var i = 0; i < groups.length; i++) { %>
	<li>
		<div class="statistics-info">
			<a href="#" title="" class="bg-primary"><i class="icon-people"></i></a>
			<strong><%= groups[i]['users'].length %> 
				<% if(groups[i]['join_requests'].length > 0) { %>
					<small style="font-size:11px" class="text-info" data-action="list-join-requests" data-group="<%= groups[i]['_id'] %>" data-toggle="modal" data-target="#join-requests"> + <%= groups[i]['join_requests'].length %>  yêu cầu gia nhập</small>
				<% } %>
			</strong>
			<div class="pull-right">
				<div class="btn-group">
	        <button type="button" class="btn btn-icon btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-arrow-down2"></i></button>
					<ul class="dropdown-menu icons-right dropdown-menu-right">
						<li><a href="#" data-group="<%= groups[i]['_id'] %>" data-action="users-group">Danh sách thành viên</a></li>
						<li class="divider"></li>
						<li><a href="#" data-group="<%= groups[i]['_id'] %>" data-action="delete-group">Xóa</a></li>
					</ul>
	      </div>
			</div>
		</div>
		<div class="progress progress-micro">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= (groups[i]['users'].length / 500000) * 100 %>">
			</div>
		</div>
		<span><%= groups[i]['name'] %></span>
	</li>
	<% } %>
</ul>

<div id="join-requests" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body with-padding">
				<table class="table table-simple join-requests-container">
			    <thead>
			      <tr>
			        <th></th>
			        <th class="actions-column"></th>
			      </tr>
			    </thead>
			    <tbody>
			    	<td>Chưa có yêu cầu</td>
			    	<td></td>
			    </tbody>
			</div>
		</div>
	</div>
</div>

<script async>
	$('[data-action]').on('click', function(e) {
		e.preventDefault();
		var action = $(this).data('action');
		if (action === 'name-group') {
			swal({
			  title: "Tạo nhóm!",
			  type: "input",
			  showCancelButton: true,
			  closeOnConfirm: false,
			  confirmButtonText: "Tạo",
	  		cancelButtonText: "Hủy",
			  showLoaderOnConfirm: true,
			  animation: "slide-from-top",
			  inputPlaceholder: "Nhập tên..."
			},
			function(inputValue){
			  if (inputValue === false) return false;
			  
			  if (inputValue === "") {
			    swal.showInputError("Tên nhóm không được bỏ trống!");
			    return false
			  }
			  $.post('/manager/group-create', {title: inputValue}, function(res) {
			  	if(res.ok) {
			  		swal("Thành công!", "Nhóm " + inputValue+" đã được tạo", "success");
			  	} else {
			  		swal.showInputError(res.error);
			    	return false
			  	}
			  })
			})
		};
		if (action === 'users-group') {
			$.post('/manager/group-users', {id: $(this).data('group')}, function(res) {
		  	if(res.ok) {
		  		swal("Thành công!", "Nhóm " + inputValue+" đã được tạo", "success");
		  	} else {
		    	return false
		  	}
		  })
		};
		if (action === 'list-join-requests') {
			var table = $('.join-requests-container');
			table.dataTable({
		    columnDefs: [{ 
		      orderable: false,
		      targets: [0,1]
		    }],
		  })
			$.post('/manager/group-requests', {id: $(this).data('group')}, function(res) {
		  	if(res.ok) {
		  		var html = '';
		  		for (var i = 0; i < res.users.length; i++) {
		  			html += '<tr><td>'+res.users[i].username+'</td><td>a</td></tr>'
		  		}
		  		table.find('tbody').html(html);
		  	} else {
		    	return false
		  	}
		  })
		};
		if (action === 'delete-group') {
			var data = {id: $(this).data('group')};
			swal({
			  title: "Bạn có chắc chắn?",
			  text: "Mọi dữ liệu sẽ không thể khôi phục!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Đồng ý xóa!",
			  closeOnConfirm: false,
			  showLoaderOnConfirm: true,
			  animation: "slide-from-top"
			},
			function(){
			  $.post('/manager/group-delete', data, function(res) {
			  	if(res.ok) {
			  		swal("Thành công!", "Nhóm đã bị xóa", "success");
			  	} else {
			    	return false
			  	}
			  })
			})
		}
	})
		
</script>