<div class="page-header">
	<div class="page-title">
		<h3>Danh sách nhóm <small>Thành viên tối đa mỗi nhóm là 1,000 người</small></h3>
	</div>

	<div class="visible-xs header-element-toggle">
		<a class="btn btn-primary btn-icon" data-toggle="collapse" data-target="#header-buttons"><i class="icon-insert-template"></i></a>
	</div>

	<div class="header-buttons">
		<div class="collapse" id="header-buttons">
			<div class="well">
        <button type="button" data-action="name-group" class="btn btn-success">+ Tạo mới</button>
      </div>
    </div>
	</div>
</div>

<div class="row">
<% for(var i = 0; i < groups.length; i++) { %>
<div class="col-lg-3 col-md-6 col-sm-6">
	<div class="card">
		<div class="content">
			<div class="row">
				<div class="col-xs-5">
					<span class="ant-badge">
						<span class="icon-big icon-people"></span>
						<% if(groups[i]['join_requests'].length > 0) { %>
							<span class="ant-scroll-number ant-badge-count">
								<%= groups[i]['join_requests'].length %>
							</span>
						<% } %>
					</span>
					
				</div>
				<div class="col-xs-7">
					<div class="numbers">
						<p><%= groups[i]['name'] %></p>
						<%= groups[i]['users'].length %> 
					</div>
				</div>
			</div>
		</div>   
	  <div class="card-footer">
	    <div class="stats">
	    	<span data-group="<%= groups[i]['_id'] %>" data-action="users-group">Danh sách thành viên</span>
	    	<span data-group="<%= groups[i]['_id'] %>" data-action="delete-group">x</span>
	    </div>
	  </div>
	</div>
</div>
<% } %>
</div>

<div id="join-requests" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body with-padding">
				<table class="table table-simple join-requests-container">
			    <thead>
			      <tr>
			        <th></th>
			        <th class="actions-column"></th>
			      </tr>
			    </thead>
			    <tbody>
			    	<td>Chưa có yêu cầu</td>
			    	<td></td>
			    </tbody>
			</div>
		</div>
	</div>
</div>

<script async>
	$('[data-action]').on('click', function(e) {
		e.preventDefault();
		var action = $(this).data('action');
		if (action === 'name-group') {
			swal({
			  title: "Tạo nhóm!",
			  type: "input",
			  showCancelButton: true,
			  closeOnConfirm: false,
			  confirmButtonText: "Tạo",
	  		cancelButtonText: "Hủy",
			  showLoaderOnConfirm: true,
			  animation: "slide-from-top",
			  inputPlaceholder: "Nhập tên..."
			},
			function(inputValue){
			  if (inputValue === false) return false;
			  
			  if (inputValue === "") {
			    swal.showInputError("Tên nhóm không được bỏ trống!");
			    return false
			  }
			  $.post('/manager/group-create', {title: inputValue.trim()}, function(res) {
			  	if(res.ok) {
			  		swal.showInputSuccess('Nhóm '+inputValue+' đã được tạo');
			  	} else {
			  		swal.showInputError(res.error);
			    	return false
			  	}
			  })
			})
		};
		if (action === 'users-group') {
			var table = $('.join-requests-container');
			table.dataTable({
		    columnDefs: [{ 
		      orderable: false,
		      targets: [0,1]
		    }],
		    language: {
					processing: 'Đang tải...',
					info: '',
					infoEmpty: '',
					zeroRecords: 'Không tìm thấy',
					lengthMenu: '_MENU_',
					paginate: { 'first': '', 'last': '', 'next': '>', 'previous': '<' }
				}
		  })
			$.post('/manager/group-users', {id: $(this).data('group')}, function(res) {
		  	if(res.ok) {
		  		var html = '';
		  		for (var i = 0; i < res.users.length; i++) {
		  			html += '<tr><td style="width:90%">'+res.users[i].username+'</td><td>o</td></tr>'
		  		}
		  		table.find('tbody').html(html);
		  		$('#join-requests').modal('show');
		  	} else {
		    	return false
		  	}
		  })
		};
		if (action === 'list-join-requests') {
			var table = $('.join-requests-container');
			table.dataTable({
		    columnDefs: [{ 
		      orderable: false,
		      targets: [0,1]
		    }],
		    language: {
					processing: 'Đang tải...',
					info: '',
					infoEmpty: '',
					zeroRecords: 'Không tìm thấy',
					lengthMenu: '_MENU_',
					paginate: { 'first': '', 'last': '', 'next': '>', 'previous': '<' }
				}
		  })
		  var group = $(this).data('group');
			$.post('/manager/group-requests', {id: group}, function(res) {
		  	if(res.ok) {
		  		var html = '';
		  		for (var i = 0; i < res.users.length; i++) {
		  			html += '<tr><td style="width:90%">'+res.users[i].username+'</td><td><button type="button" data-user="'+res.users[i]._id+'" data-action="accept-join-request" class="btn btn-info">Chấp nhận</button></td></tr>'
		  		}
		  		table.find('tbody').html(html);
		  		$('#join-requests').modal('show');
		  		$('[data-action="accept-join-request"]').on('click',function(){
		  			var that = $(this);
		  			$.post('/manager/group-requests', {accept: 1, id: group, user: that.data('user')}, function(){
		  				if(res.ok) that.parent().parent().fadeOut(300, function() { $(this).remove() })
		  				else console.log(res.error)
		  			})
		  		})
		  	} else {
		    	return false
		  	}
		  })
		};
		if (action === 'delete-group') {
			var data = {id: $(this).data('group')};
			swal({
			  title: "Bạn có chắc chắn?",
			  text: "Mọi dữ liệu sẽ không thể khôi phục!",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Đồng ý xóa!",
			  closeOnConfirm: false,
			  showLoaderOnConfirm: true,
			  animation: "slide-from-top"
			},
			function(){
			  $.post('/manager/group-delete', data, function(res) {
			  	if(res.ok) {
			  		swal("Thành công!", "Nhóm đã bị xóa", "success");
			  	} else {
			    	return false
			  	}
			  })
			})
		}
	})
		
</script>